{% extends "blog/base.html" %}
{% block content %}
<table width="100%" height="100%">
    <tr>
        <td></td>
        <td align="middle" valign="middle" style="width: 600px">
            <h1 class="about-heading-text">About Us</h1><br>
            <p class="about-text">
                No two food lovers' tastes are alike!
            </p>
            <p class="about-text">
                We get it - everyone has different tastes.
                That's why we never stop improving our recipe search engine.
                After all, each user deserves a customised search experience.
                To help users refine their searches to better suit their tastes, we are also adding additional information categories.
            </p><br>
            <p class="about-text">
                A better cooking experience is just a click away!
            </p>
            <p class="about-text">
                Our food and recipe guide can be accessed by anyone!
                We work closely with so many search engine that you are sure to find just the right cooking experience!
                Trend forecasting intelligent recipe system is busy efficiency via forecasting recipe service.
                You will love how convenient it is to dine the New way!
            </p><br>
            <p class="about-text">
                Up-to-the-minute information you can use!
            </p>
            <p class="about-text">
                Food lovers are passionate people, with highly individual tastes.
                Trend forecasting intelligent recipe system makes it possible for everyone to be a gourmet recipe  reviewer.
                You will value the wide range of opinions, even for the same dish!
                Not only are we a source of first-hand information and news from adventurous diners exploring the latest local and international culinary trends,
                but leading culinary experts also drop by with tasteful tips.
            </p>
        </td>
        <td></td>
    </tr>
</table>
{% endblock content %}