{% extends "blog/base.html" %}
{% block content %}
<table width="100%" height="100%">
    <tr>
        <td></td>
        <td align="middle" valign="middle">
            <br><br><br><br><br><br><br><br>
            <p><h1>Trend Forecasting Intelligent Recipe System</h1></p><br>
            <p>Trend forecasting intelligent recipe system is Hong Kong's most popular recipe guide to help people find recipe to cook based on the search engine searching recipe by real world people.</p><br>
            <p><a href="{% url 'blog-about' %}"><button class="btn-home">About Us</button></a></p><br>
        </td>
        <td></td>
    </tr>
</table>
{% endblock content %}